main,
body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    zoom: 3,
}

#page-header {
    background-color: #1e1e2e;
    border-style: none;
}

.hljs {
    background-color: #181825 !important;
    border-radius: 4px;
}

svg {
    fill: #cba6f7;
}

h1 {

    color: #f38ba8;
}

h2 {
    color: #fab387;
}

h3 {
    color: #f9e2af;
}

h4 {
    color: #a6e3a1;
}

h5 {
    color: #89dceb;
}

h6 {
    color: #b4befe;
}

strong {
    color: #eba0ac;
}

em {
    color: #eba0ac;
}

.katex {
    color: #94e2d5;
}
